/* :root {
    --background-rgb: 248, 242, 226;
    --background2-rgb: 248, 206, 58;
  }

  html{
    background-color: rgb(var(--background-rgb));
  } */

  *{
<<<<<<< HEAD
    margin: 0;
=======
    margin:0
>>>>>>> 5ecbd54c0e787f816c5610572cc88a0bfa55e16c
  }